crispy-forms-foundation==0.5.2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.5.1
django-crispy-forms==1.4.0
django-toolbelt==0.0.1
git+git://github.com/mhb11/djangotribune.git
gunicorn==19.3.0
psycopg2==2.6.1
pytz==2015.4
South==1.0.2
static3==0.6.1
texttable==0.8.1
